.Btn {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;

  &--menuIcon {
    text-indent: -9999em;

    &.is-visible {
      @extend %Icons--close;
    }

    &.is-hidden {
      @extend %Icons--hamburger;
    }

  }

  &--blueCTA {
      display: block;
      width: 60%;
      padding: 15px 30px;
      margin: 0 auto;
      background: color(#00BFFF shade(20%));
      color: white;

    &:--blueCTA-States {
      background: color(#00BFFF shade(60%));
    }
  }
}