.HeroBanner {
  position: relative;
  display: block;
  width: 100%;
  min-height: 250px;
  background-image: url('../assets/images/galaxy-wallpaper.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 30px;

  @media(min-width: 768px) {
    min-height: 400px;
  } 

  &-titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;

    @media(min-width: 768px) {
      min-height: 400px;
    }
  }

}